@model List<Albumify.Web.Models.AlbumViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Spotify Authentication</h1>
        <p>
            <strong>Access Token:</strong> <code>@Model.AccessToken</code>
            <strong>Token Type:</strong> <code>@Model.TokenType</code>
            <strong>Expires In:</strong> <code>@Model.ExpiresIn</code>
        </p>
    </div>*@
<form asp-controller="Artist" asp-action="Search" method="get">
    Artist: <input type="text" name="artistName" />
    <input type="submit" value="Search" />
</form>